extends layout

block content 
  form(id="dane_post" action="/dane", method="post") 
    input(type="text", name="imie", value="", placeholder="Tu imie")
    br
    input(type="text", name="nazwisko", value="", placeholder="Tu nazwisko")
    button(type="submit") POST 2 dane
  br
  form(id="dane_get" action="/dane/form", method="get")
    input(type="text", name="imie", value="", placeholder="Tu imie")
    br
    input(type="text", name="nazwisko", value="", placeholder="Tu nazwisko")
    button(type="submit") GET 2 dane 
  p Global (app-scope: global.ii) variable value is #{global_var1}
  p Global (app-scope: app.local.ii) variable value is #{global_var2}
