extends layout

block content 
  form(id="dane_post" action="/signIn/login", method="post") 
    label(for="username") Login 
    input(type="text", name="username", value="", placeholder="Login")
    lable(for="pass") Password
    input(type="password", name="pass", value="", placeholder="Password")
    button(type="submit") Sign in
    #error
      if error
          p Your login or password is wrong